﻿
@{
    ViewBag.Title = "List of Blobs";
}

<h2>List of Blobs</h2>

<form action="SaveFile" method="post" enctype="multipart/form-data">
    <div class="form-group">
        <input type="file" name="file" />
    </div>
    <button type="submit" class="btn btn-success">Submit</button> 
 </form>
